// ========================================= //
// Colors ================================== //

$c_accent: #5c6bc0;
$c_accent--dark: #5360ac;
$c_accent--light: #6c79c6;
$c_body-bg: #f7f9fc;
$c_main-bg: #fff;
$c_menu-bg: #252b4d;
$c_menu-txt: #fff;
$c_menu-txt--active: #a9afdb;
$c_separator: #eee;
$c_text: #333;
$c_text--dark: #000;
$c_text--inverse: #fff;
$c_text--light: #bdbdbd;

// ========================================= //

$s_header-height: 160px;
$s_main-shadow-blur: 25px;

$a_transition: all 0.5s ease-in;